/* vars */

:root {
    --background: #ddd;
}


/* Base */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
}

ul {
    list-style-type: none;
}


/* layout */

.container {
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: 5rem;
}

.totalPrice,
.added,
.products {
    width: 40%;
}


/* products */

.products {
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
}

.products li:hover {
    background-color: #bbb;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    cursor: pointer;
}

.products li:hover::after {
    content: attr(price)'$';
    display: inline-block;
    width: 40px;
    background-color: rgb(56, 56, 141);
    border-radius: 3px;
    margin-left: 10px;
    color: #ddd;
    padding: 2px;
}

.added {
    background-color: antiquewhite;
    text-align: center;
}

.btn {
    outline: 0;
    cursor: pointer;
    padding: 5px;
    background-color: #aaf;
    border: 0;
    border-radius: 5px;
}

.clear {
    margin: 6px;
    background-color: #f55;
    padding: .5px;
}

.btn:hover {
    background-color: #aaf5;
}

.clear:hover {
    color: red;
}

.btn+input {
    width: 71px;
    text-align: center;
    padding: 2px;
}

.totalPrice {
    text-align: center;
    padding: 5px;
}

.totalPrice * {
    display: inline-block;
}


/* ======media Query========= */

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .totalPrice,
    .added,
    .products {
        width: 45%;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 100%;
    }
    .totalPrice,
    .added,
    .products {
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .totalPrice,
    .added,
    .products {
        width: 53%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    .totalPrice,
    .added,
    .products {
        width: 70%;
    }
}